/*---------------
    Overall
---------------*/

* {
    background-position: center;
    background-size: cover;
    object-position: center;
    object-fit: cover;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    color: #EEE;
    width: 100vw;
    background-color: #222;
}

.mincho {
    font-family: '方正清刻本悦宋简体', '华文中宋', serif;
}

.button {
    cursor: pointer;
    height: 70px;
    line-height: 70px;
    width: 350px;
    background-color: #4189ff;
    color: #EEE;
    font-size: 24px;
    letter-spacing: 3px;
    text-align: center;
    border-radius: 35px;
    margin: 0 auto;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    transition: all .3s;
}

.button:hover {
    opacity: 0.9;
}

.button:active {
    transform: scale(1.02);
}

.overlay:after {
    background: #000;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
    opacity: 0.5;
}



body {
    width: 720px;
    height: 1240px;
    margin: 0 auto;
    overflow: hidden;
}

.bg {
    overflow: hidden;
    position: absolute;
    width: inherit;
    height: inherit;
    z-index: -2;
}


.footer-svg {
    height: 48px;
    margin: 30px auto 0;
    display: block;
}

/*---------------
    Part A
---------------*/


@keyframes kenburns-top {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

#bg-a-img {
    animation: kenburns-top 18s ease-in-out infinite both;
    width: inherit;
    height: inherit;
}

#main-a {
    padding: 60px;
    overflow: hidden;
}

#a-heading {
    height: 77px;
}

#a-title {
    height: 100%;
    float: left;
    display: inline-block;
    padding-top: 10px;
    line-height: 30px;
    font-size: 25px;
}

#a-logo {
    display: inline-block;
    height: 100%;
    float: left;
    margin-right: 10px;
}

#corner-deco {
    height: 40px;
    display: inline-block;
    float: right;
}

#a-quote {

}

#a-quote-svg {
    width: 340px;
    margin: 50px auto 20px;
    display: block;

}

#a-content {
    text-align: center;
    font-size: 25px;
    margin: 33px auto;
    letter-spacing: 1px;
    line-height: 33px;
}


/*---------------
    Part B
---------------*/

#main-a, #bg-a {
    display: none;
}

#bg-b {
    background-color: #F9F9F9;
}

#bg-b-top {
    height: 450px;
    background-color: #c5d0d9;
}