body {
    color: #EEE;
    width: 100vw;
    background-color: #222;
}

#main {
    width: 720px;
    height: 1280px;
    margin: 0 auto;
    background-image: url("images/tju-bw.jpg");
    background-position: center;
    background-size: cover;
}